.spinners_container {
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 2rem 0;
	margin-top: 2rem;
  }
  
  .spinner {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	background-color: #99afbf;
	animation-duration: 0.6s;
	animation-name: loading;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-direction: alternate-reverse;
  }
  
  @media screen and (min-width: 800px) {
	.spinner {
	  width: 3rem;
	  height: 3rem;
	}
  }
  
  @media screen and (min-width: 1000px) {
	.spinner {
	  width: 5rem;
	  height: 5rem;
	}
  }
  
  @keyframes loading {
	0% {
	  opacity: 0.5;
	  transform: scale(1);
	}
  
	100% {
	  opacity: 0.2;
	  transform: scale(0.4);
	}
  }
  