.footer_categories_container {
	display: flex;
	flex-direction: column;
  
	margin-top: 1.5rem;
	font-family: "Libre Franklin", sans-serif;
  }
  
  @media screen and (min-width: 1000px) {
	.footer_categories_container {
	  flex-direction: row;
	  justify-content: space-between;
	}
  }
  
  .footer_categories_container .section_container {
	border-top: 1px solid rgb(235, 235, 235);
	padding: 0.8rem 0;
  }
  
  .footer_categories_container .section_container:last-child {
	border-bottom: 1px solid rgb(235, 235, 235);
  }
  
  @media screen and (min-width: 1000px) {
	.footer_categories_container .section_container {
	  border: none;
	  padding: 0;
	}
  }
  
  .footer_categories_container h3 {
	font-weight: 700;
	font-size: 0.8rem;
	cursor: pointer;
	transition: all 0.6s ease;
  }
  
  .footer_categories h3:active {
	color: #b3b3b3;
  }
  
  @media screen and (min-width: 1000px) {
	.footer_categories_container h3 {
	  cursor: default;
	}
  }
  
  .footer_categories_container ul li {
	font-weight: 500;
	font-size: 0.8rem;
	padding: 0.3rem 0;
  }
  
  .footer_categories_container ul {
	margin-top: 0.6rem;
  }
  
  @media screen and (min-width: 1000px) {
	.footer_categories_container ul {
	  display: block;
	}
  }
  
  .section_hidden {
	display: none;
  }
  
  .section_visible {
	display: block;
  }
  
  .title_grey {
	color: #b3b3b3;
  }
  