.hamburger_icon_container {
	flex: 0.2;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  }
  
  .hamburger_icon {
	width: 1rem;
	height: 1rem;
  }
  
  .hamburger_icon_hidden {
	visibility: hidden;
  }
  
  @media screen and (min-width: 500px) {
	.hamburger_icon {
	  width: 1.5rem;
	  height: 1.5rem;
	}
  }
  