.user_icon_container {
	flex: 0.2;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .user_icon {
	width: 1rem;
	height: 1rem;
  }
  
  @media screen and (min-width: 500px) {
	.user_icon {
	  width: 1.5rem;
	  height: 1.5rem;
	}
  }
  