@media screen and (min-width: 1000px) {
  .header {
    border-bottom: 4px double #000;
  }
}

.header_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ebebeb;
}

.header_2 {
  padding: 1rem 0;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .header_2 {
    padding: 0.5rem 0;
    background-color: transparent;
    border: none;
    display: block;
  }
}
